<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="AspnetDbEntities" connectionString="metadata=res://*/SQLDatabase.EF.AspnetDbModel.csdl|res://*/SQLDatabase.EF.AspnetDbModel.ssdl|res://*/SQLDatabase.EF.AspnetDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STAGESERVER\EXPRESS2014;initial catalog=aspnetdb;persist security info=True;user id=nuweb;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ClientDatabaseTemplateEntities" connectionString="metadata=res://*/SQLDatabase.EF.ClientTemplateModel.csdl|res://*/SQLDatabase.EF.ClientTemplateModel.ssdl|res://*/SQLDatabase.EF.ClientTemplateModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STAGESERVER\EXPRESS2014;initial catalog=ClientDatabaseTemplate;persist security info=True;user id=nuweb;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NuMedicsGlobalEntities" connectionString="metadata=res://*/SQLDatabase.EF.NumedicsGlobalModel.csdl|res://*/SQLDatabase.EF.NumedicsGlobalModel.ssdl|res://*/SQLDatabase.EF.NumedicsGlobalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STAGESERVER\EXPRESS2014;initial catalog=NuMedicsGlobal;persist security info=True;user id=nuweb;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>