<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="AspnetDbEntities" connectionString="metadata=res://*/SQLDatabase.EF.AspnetDbModel.csdl|res://*/SQLDatabase.EF.AspnetDbModel.ssdl|res://*/SQLDatabase.EF.AspnetDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STAGESERVER\EXPRESS2014;initial catalog=aspnetdb;persist security info=True;user id=nuweb;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ClientDatabaseTemplateEntities" connectionString="metadata=res://*/SQLDatabase.EF.ClientTemplateModel.csdl|res://*/SQLDatabase.EF.ClientTemplateModel.ssdl|res://*/SQLDatabase.EF.ClientTemplateModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STAGESERVER\EXPRESS2014;initial catalog=ClientDatabaseTemplate;persist security info=True;user id=nuweb;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NuMedicsGlobalEntities" connectionString="metadata=res://*/SQLDatabase.EF.NumedicsGlobalModel.csdl|res://*/SQLDatabase.EF.NumedicsGlobalModel.ssdl|res://*/SQLDatabase.EF.NumedicsGlobalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STAGESERVER\EXPRESS2014;initial catalog=NuMedicsGlobal;persist security info=True;user id=nuweb;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UnitTestEntities" connectionString="metadata=res://*/EF.UnitTestModel.csdl|res://*/EF.UnitTestModel.ssdl|res://*/EF.UnitTestModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STAGESERVER\EXPRESS2014;initial catalog=UnitTest;persist security info=True;user id=nuweb;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="aspnerdbUnitTestEntities" connectionString="metadata=res://*/EF.aspnetDbUnitTestModel.csdl|res://*/EF.aspnetDbUnitTestModel.ssdl|res://*/EF.aspnetDbUnitTestModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STAGESERVER\EXPRESS2014;initial catalog=aspnerdbUnitTest;user id=nuweb;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.29.0" newVersion="4.5.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
    </DbProviderFactories>
  </system.data>
</configuration>